{{ "section-blogposts.css" | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0  }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{% if section.settings.blog.articles.size > 0 %}
  <div class="blog-section_{{section.id}} blog-posts page-width section-{{ section.id }}-padding">
    <div class="flex flex-wrap align-end justify-between mb-20">
   <div>
     {% if section.settings.heading!=blank%}
    <h2 class="h2">{{ section.settings.heading }}</h2>
    {% endif %} 
     {% if section.settings.subheading!=blank%}
    <div class="blog-posts__subheading">{{ section.settings.subheading }}</div>
    {% endif %} 
   </div>
     <div class="featured-collection__headeritem">
          
            <a class="link" href="{{ section.settings.blog.url }}">View all Posts</a>
         
        </div>
    </div>
    <div class="grid grid--1-col grid--3-col-desktop">
      {% for article in section.settings.blog.articles limit: 3 %}
        <div class="grid__item ">
          <div class="blog-post">
            <a href="{{article.url}}">{% render 'image' class: '', mobileSrc: article.image, desktopSrc: article.image %}</a>
            <div>{{ article.published_at | date: '%B %d, %Y' }}</div>
            <a class="text-decoration-none" href="{{article.url}}">
              <h2 class="blog-post-title h3">{{ article.title }}</h2>
            </a>
            <div>{{ article.excerpt_or_content }}</div>
            <a class="readmore" href="{{article.url}}">Read More
              <span>></span>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% style %}
  .readmore {
    text-decoration: none;
    color: var(--color-heading-text);
    font-weight: 700;
  }
  .blog-post {
    max-width: 600px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Blog Posts",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 40
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Subheading"
      },{
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      }
    ],
    "presets": [
      {
        "name": "Blog Posts"
      }
    ]
  }
{% endschema %}