{% comment %} 
<div class="page-width mb-30">
  {% render 'breadcrumbs' %}

<div class="grid  grid--1-col grid--3-col-desktop">
  {% for article in blog.articles %}
  <div class="grid__item">
    <a href={{ article.url }}><h2>{{ article.title }}</h2></a>
    <div>
      <img src={{ article.image | image_url }}>
    </div>
    <div>Posted on {{ article.created_at | date }}</div>
    <div>Author: {{ article.author }}</div>
  </div>
  {% endfor %}
</div>
</div>

 {% endcomment %}


 <div class="blog-page">
  <div class="blog-posts">
    {% for article in blog.articles %}
      <div class="blog-post">
        <h2 class="blog-post-title">{{ article.title }}</h2>
        <div class="blog-post-content">{{ article.content }}</div>
        <div class="blog-post-meta">
          <span class="blog-post-date">{{ article.published_at | date: "%B %d, %Y" }}</span>
          <span class="blog-post-author">{{ article.author }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .blog-page {
  width: 80%;
  margin: 0 auto;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
}

.blog-post {
  width: 100%;
  margin-bottom: 1em;
}

.blog-post-title {
  font-size: 2em;
}

.blog-post-content {
  margin-top: 0.5em;
}

.blog-post-meta {
  font-size: 0.8em;
  color: gray;
  margin-top: 0.5em;
}

</style>
