{% if section.settings.blog.articles.size > 0 %}
  <div class="blog-section_{{section.id}} page-width">
    <div class="h3">{{ section.settings.heading }}</div>
    <p class="mb-15">{{ section.settings.subheading }}</p>
    <div class="grid grid--1-col grid--3-col-desktop">
      {% for article in section.settings.blog.articles limit: 3 %}
        <div class="grid__item ">
          <div class="blog-post">
            <a href="{{article.url}}">
              {% render 'image' class: 'media media--landscape mb-10', mobileSrc: article.image, desktopSrc: article.image %}
            </a>
            <div class="mb-10">{{ article.published_at | date: '%B %d, %Y' }}
            </div>
            <a class="text-decoration-none" href="{{article.url}}">
              <div class="blog-post-title h4">{{ article.title }}</div>
            </a>
            <div class="blog-excerpt">{{ article.excerpt_or_content }}</div>
            <a class="readmore" href="{{article.url}}">Read More
              <span>></span>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% style %}
  .blog-section_{{ section.id}}{
    margin-top: 20px;
  }
  .readmore {
    text-decoration: none;
    color: #271E0A;
    font-weight: 700;
  }
  .blog-post {
    max-width: 600px;
  }
  .blog-excerpt {
    line-height: normal;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Blog Posts",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Blog Posts"
      }, {
        "type": "text",
        "id": "subheading",
        "label": "Sub heading"
      }, {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      }
    ],
    "presets": [
      {
        "name": "Blog Posts"
      }
    ]
  }
{% endschema %}