{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0  }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{% if section.blocks.size>0 %}
<div class="section-text container page-width section-{{ section.id }}-padding">
  <div class="center">
    {% if section.settings.heading_text != blank %}
      <h2>{{ section.settings.heading_text }}</h2>
    {% endif %}
    {% if section.settings.paragraph_text != blank %}
      <p>{{ section.settings.paragraph_text }}</p>
    {% endif %}
  </div>
  <div class="grid grid--1-col">
    <div class="grid__item">
        <div class="section-text__content">
          {% for block in section.blocks %}
            <details>
              <summary class="collapsible h5">{{ block.settings.heading_text }}</summary>
              <div class="paragraph_collapsable">{{ block.settings.paragraph }}</div>
            </details>
          {% endfor %}
        </div>
    </div>
  </div>
</div>
{% endif %}

{% style %}
  details > summary {
    padding: 4px;
    border: none;
    box-shadow: 1px 1px 2px #BBBBBB;
    cursor: pointer;
  }
  details > p {
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #BBBBBB;
  }
{% endstyle %}
{% schema %}
{
  "name": "collapsible text",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type":"text",
      "id":"heading_text",
      "label":"Heading"
    },
    {
      "type":"richtext",
      "id":"paragraph_text",
      "label":"Pragraph text"
    }
  ],
  "blocks":[
    {
    "name":"text",
      "type":"text",
      "settings":[
        {
        "type":"text",
        "id":"heading_text",
        "label":"Heading"
      },
      {
        "type":"richtext",
        "id":"paragraph",
        "label":"Paragarph"
      }
      ]
    }
  ],
  "presets": [
    {
      "name": "collapsible text"
    }
  ]
}
{% endschema %}