{{ "section-countdown-banner" | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0  }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}
{% if section.settings.heading != blank %}
  <div class="shopify-section section-countdown-banner section-{{ section.id }}-padding">
    <div class="row page-width">
      <div class="small-12 columns">
        <div class="countdown-banner mobile-height-auto desktop-height-auto section-spacing section-spacing--disable-top section-spacing--disable-bottom" style="--color-bg: {{section.settings.bg_color}}; --color-text: {{section.settings.text_color}}; --solid-button-background: #ffffff; --outline-button-label: #ffffff;--solid-button-label: #ae1b1b;--bg-body: #ae1b1b">
          <div class="countdown-banner--bg">
            <div class="countdown-banner--bg--overlay" style="--overlay-color: #000000; --overlay-opacity: 0.0;"></div>
          </div>
          <div class="countdown-banner--inner layout--horizontal ">
            <div class="countdown-banner--content">
              <h2 class="h2">{{ section.settings.heading }}</h2>

            </div>
            <div class="countdown-banner--timer">
              <countdown-timer
                class="countdown-timer"
                data-date="{{ section.settings.start_day }}-{{ section.settings.start_month }}-{{ section.settings.start_year}}"
                data-time="00:00">
                <div class="countdown-timer--column days">
                  <span class="countdown-timer--column--number">{{ section.settings.start_day }}</span>
                  <span class="countdown-timer--column--text">Days</span>
                </div>
                <div class="countdown-timer--column hours">
                  <span class="countdown-timer--column--number">{{ section.settings.hours }}</span>
                  <span class="countdown-timer--column--text">Hours</span>
                </div>
                <div class="countdown-timer--column minutes">
                  <span class="countdown-timer--column--number">{{ section.settings.minutes }}</span>
                  <span class="countdown-timer--column--text">Minutes</span>
                </div>
                <div class="countdown-timer--column seconds">
                  <span class="countdown-timer--column--number">0</span>
                  <span class="countdown-timer--column--text">Seconds</span>
                </div>
              </countdown-timer>
              <a
                class="button custom-button--{{ section.id}}"
                href="{{section.settings.button_url}}"
                role="button"
                title="{{section.settings.button_text}}">
                <span>{{ section.settings.button_text }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<style>
  .custom-button--{{ section.id}}{
    color: {{ section.settings.text_color}}
    ;
    background-color: {{ section.settings.bg_color}}
    ;
    border: 2px solid{{ section.settings.text_color}};

  }
  .custom-button--{{ section.id}}:hover  {
    color: {{ section.settings.bg_color}}
    ;
    background-color: {{ section.settings.text_color}}
    ;
    border: 2px solid{{ section.settings.bg_color}};

  }
</style>


{% schema %}
  {
    "name": "Countdown banner",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "label": "Background Color",
        "id": "bg_color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Button Link"
      }, {
        "type": "header",
        "content": "Start date"
      }, {
        "type": "range",
        "id": "start_year",
        "label": "Year",
        "min": 2023,
        "max": 2026,
        "step": 1,
        "default": 2023
      }, {
        "type": "range",
        "id": "start_month",
        "label": "Month",
        "min": 1,
        "max": 12,
        "step": 1,
        "default": 11
      }, {
        "type": "range",
        "id": "start_day",
        "min": 0,
        "max": 31,
        "default": 0,
        "step": 1,
        "label": "Day"
      }, {
        "type": "range",
        "id": "hours",
        "min": 0,
        "max": 24,
        "default": 0,
        "step": 1,
        "label": "Hours"
      }, {
        "type": "range",
        "id": "minutes",
        "min": 0,
        "max": 60,
        "default": 0,
        "step": 1,
        "label": "Minutes"
      }, {
        "type": "header",
        "content": "Section padding"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 40
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 40
      }


    ],
    "presets": [
      {
        "name": "Countdown banner"

      }
    ]
  }
{% endschema %}