  <script src="featured-collection-list.js" defer="defer"></script>
  {{ "section-featured-collection-list.css" | asset_url |stylesheet_tag }}
{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0  }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{% if section.blocks.size > 0 %}
  <div class="shopify-section section-featured-collection-list section-{{ section.id }}-padding">
    <div class="row full-width-row">
      <div class="small-12 columns">
        <featured-collection-list class="featured-collection-list section-spacing section-spacing--disable-top" style="height:500px;">
          {% for block in section.blocks %}
            <div class="featured-collection-list--bg">
              <img
                class="featured-collection-list--img active"
                src="{{block.settings.image | img_url:'500x500'}}"
                alt="">
            </div>
            <div class="featured-collection-list--inner content-middle-center collection-list-height">
              <div class="featured-collection-list--inner--content">
                <a href="{{ block.settings.collection_id.url}}" class="featured-collection-list--button">
                  <span class="h1-large collection-text-color">{{ block.settings.collection_id.title }}</span>
                </a>
              </div>
            </div>
          {% endfor %}
        </featured-collection-list>
      </div>
    </div>
  </div>
{% endif %}


{% schema %}
  {
    "name": "Featured collection list",
    "class": "section",
    "tag": "section",
    "settings": [ {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 40
      },
      {
        "type": "color",
        "id": "text-color",
        "label": "Text color"
      }, {
        "type": "color",
        "id": "overlay-color",
        "label": "Overlay Color"
      }
    ],
    "blocks": [
      {
        "name": "Collection",
        "type": "collection-list",
        "limit": 5,
        "settings": [
          {
            "type": "collection",
            "id": "collection_id",
            "label": "Collection"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "Custom Image",
            "info": "Optional image to use for this collection."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured collection list"
      }
    ]
  }
{% endschema %}