{% if section.size>0 %}

  {% endif %}




{% style %}
.footer--{{section.id}}{
background-color:{{section.settings.bg_color}};
}
  .footer_image img{
    width:200px;
  }
  .footer_image{
    max-width:58rem;
    color:black;
  }
  .email_button{
    border:none;
  }
  .footer_icons__alignment{
    display:flex;
    flex-direction:row;
    margin:10px 0;
  }
  .icons{
    color:#000000;
    margin:0 10px;
  }
   .footer {
     width: 100%;
     padding:1.5rem 1.5rem;
   }
  .footer_link__card{
    margin-top:12px;
  }
  .footer-item {
     width: 23%;
     padding: 10px;
   }
   .footer-flex {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
   }
   .links {
     list-style: none;
   }
   .text-decoration-none{
     text-decoration:none;
   }
   .footer_{{ section.id}}{
     padding: 20px;
     background:#F2F5FA;
   }
   .text-color_{{ section.id}}{
     color: {{ section.settings.footer_text_color}}
   }


     @media screen and (max-width:990px) {
       .footer-item {
         width: 100%;
       }
       .footer-flex {
         flex-direction: column;
       }
       .footer_text {
         font-size: 12px;
         margin-top: 10px;
       }
       .sign-button{
         width:10%;
       }
     }
{% endstyle %}
{% schema %}
{
  "name": "Footer",
  "class": "section",
  "tag": "footer",
  "settings": [
    {
      "type": "header",
      "content": "COLOR SCHEME"
    }, {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }, {
      "type": "color",
      "id": "footer_text_color",
      "label": "Text Color"
    },
      {
      "type": "image_picker",
      "id": "image_logo",
      "label": "Image"
    }, {
      "type": "url",
      "id": "Link",
      "label": "Link"
    },
    {
      "type": "richtext",
      "id": "text_section_content",
      "label": "Text",
      "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
        }
  ],
  "blocks": [
    {

      "name": "Links",
      "type": "footer-links",
      "settings": [
        {
          "type": "text",
          "id": "links_heading",
          "label": "Heading",
          "default": "Links"
        }, {
          "type": "link_list",
          "label": "Menu",
          "id": "footer_links"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text-section",
      "settings": [
        {
          "type": "text",
          "id": "text_section_heading",
          "default": "Text",
          "label": "Heading"
        }, {
          "type": "richtext",
          "id": "text_section_content",
          "label": "Text",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
        }
      ]
    },
    {
      "name": "Image",
      "type": "image-section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }, {
          "type": "url",
          "id": "Link",
          "label": "Link"
        }
      ]
    }, {
      "name": "Newsletter",
      "type": "newsletter-section",
      "settings": [
        {
          "type": "text",
          "id": "ns_heading",
          "label": "Heading",
          "default": "Newsletter"
        }, {
          "type": "richtext",
          "id": "ns_text",
          "label": "Body Text"
        }
      ]
    }
  ]
}
{% endschema %}
