<div class="header-container_{{section.id}}">
  <div class="flex-container">
    <div class="flex-items flex {{section.settings.logo_position}}">
      <div id="mobile-menu" class="mobile_nav align-center">
        <a class="hamburger-button" id="hamburger">
          <svg
            width="30px"
            height="30px"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" /></svg>
        </a>
      </div>
      <div class="flex-item__links">
        <ul class="flex">
          {% for link in section.settings.main_menu.links -%}
            <a class="text-decoration-none" href="{{link.url}}">
              <li class="links_{{section.id}}">{{ link.title }}</li>
            </a><div
            id="myModal"
            class="modal"
            style="display: none;">
            <div class="modal-content">
              <span class="close">×</span>
              <div
                id="login_modal"
                class="login"
                style="display: block;">
                <div class="center mb-15">
                  <img class="modal-logo" src="{{'logo2x-light.png' |file_img_url:'131x59'}}">
                </div>
                <div class="customer login">
                  <p
                    id="recover"
                    class="h2"
                    tabindex="-1">Reset your password</p>
                  <div>
                    <p>We will send you an email to reset your password</p>
                    <form-state>
                      {% form 'recover_customer_password' %}
                        <div class="field">
                          <input
                            required="required"
                            class="required"
                            type="email"
                            value=""
                            name="email"
                            id="RecoverEmail"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="email"
                            placeholder="Email">
                          <label class="visually-hidden" for="RecoverEmail">Email</label>
                        </div>
                        <button class="button" type="submit">
                          Submit
                        </button>
                        <a class="link link--underline" href="#login">
                          Cancel
                        </a>
                      {% endform %}
                    </form-state>
                  </div>
                  <h5
                    id="login"
                    class="h2"
                    tabindex="-1">Welcome back! Sign in with</h5>
                  <div>
                    <form-state>
                      {% form 'customer_login' %}
                        <input
                          type="hidden"
                          name="form_type"
                          value="customer_login"><input
                          type="hidden"
                          name="utf8"
                          value="✓"><div class="field">
                          <input
                            required="required"
                            class="required"
                            type="email"
                            name="customer[email]"
                            id="CustomerEmail"
                            autocomplete="email"
                            autocorrect="off"
                            autocapitalize="off"
                            placeholder="Email">
                          <label class="visually-hidden" for="CustomerEmail">
                            Email</label>
                        </div>
                        <div class="field">
                          <input
                            required="required"
                            class="required"
                            type="password"
                            value=""
                            name="customer[password]"
                            id="CustomerPassword"
                            autocomplete="current-password"
                            placeholder="Password">
                          <label class="visually-hidden" for="CustomerPassword">Password</label>
                        </div>
                        <a class="link" href="#recover">Forgot password?</a>
                        <button class="button" type="submit">Sign in</button>
                      {% endform %}
                    </form-state>
                  </div>
                  <p class="typeset">New here?
                    <span onclick="createAcc();" class="link">
                      Create an account
                    </span>
                  </p>
                </div>
              </div>
              <div
                id="register_modal"
                class="register"
                style="display: none;">
                <div class="center mb-15">
                  <img class="modal-logo" src="{{'logo2x-light.png' |file_img_url:'131x59'}}">
                </div>
                <div class="customer register">
                  <p class="h2">Create an account with</p>
                  <p class="useEmail">Or use your email</p>
                  <form-state>
                    <form
                      method="post"
                      action="/account"
                      id="create_customer"
                      accept-charset="UTF-8"
                      data-login-with-shop="true"><input
                        type="hidden"
                        name="form_type"
                        value="create_customer"><input
                        type="hidden"
                        name="utf8"
                        value="✓"><div class="field">
                        <input
                          type="text"
                          name="customer[first_name]"
                          id="RegisterForm-FirstName"
                          autocomplete="given-name"
                          placeholder="First name">
                        <label class="visually-hidden" for="RegisterForm-FirstName">First name</label>
                      </div>
                      <div class="field">
                        <input
                          type="text"
                          name="customer[last_name]"
                          id="RegisterForm-LastName"
                          autocomplete="family-name"
                          placeholder="Last name">
                        <label class="visually-hidden" for="RegisterForm-LastName">Last name</label>
                      </div>
                      <div class="field">
                        <input
                          required="required"
                          class="required"
                          type="email"
                          name="customer[email]"
                          id="RegisterForm-email"
                          spellcheck="false"
                          autocapitalize="off"
                          autocomplete="email"
                          aria-required="true"
                          placeholder="Email">
                        <label class="visually-hidden" for="RegisterForm-email">Email</label>
                      </div>
                      <div class="field">
                        <input
                          required="required"
                          class="required"
                          type="password"
                          name="customer[password]"
                          id="RegisterForm-password"
                          aria-required="true"
                          placeholder="Password">
                        <label class="visually-hidden" for="RegisterForm-password">Password</label>
                      </div>
                      <button class="button" type="submit">
                        Create Account
                      </button>
                    </form>
                  </form-state>
                </div>
                <p class="typeset">Already have an account?
                  <a onclick="signInRedirect()" class="link">
                    Sign in
                  </a>
                </p>
              </div>
            </div>
          </div>
          
          
          <script>
            let modal = document.getElementById("myModal");
            let btn = document.getElementById("myBtn");
            let span = document.getElementsByClassName("close")[0];
            const createMod = document.getElementById("register_modal");
            const createMod2 = document.getElementById("login_modal");
          
            function createAcc() {
              createMod.style.display = "block";
              document.getElementById("login_modal").style.display = "none";
            }
            function signInRedirect() {
              createMod2.style.display = "block";
              document.getElementById("register_modal").style.display = "none";
            }
          
            btn.onclick = function() {
          
              modal.style.display = "block";
          
            };
          
            span.onclick = function() {
              modal.style.display = "none";
            };
          
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            };
          </script>
          
          <style>
            input[type="text"],
            input[type="password"],
            input[type="email"] {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              box-sizing: border-box;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
            .modal-content {
              background-color: #fefefe;
              margin: auto;
              padding: 30px;
              border-radius: 10px;
              max-width: 370px;
              width: 100%;
              display: block;
              position: absolute;
              z-index: 1;
              top: 20%;
              left: 50%;
              transform: translate(-50%);
              border: 2px solid black;
            }
            #popover {
              display: none
            }
            .custom_model {
              position: fixed;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              z-index: 999;
              background: rgb(0 0 0 / 60%);
              overflow: auto;
              padding: 0;
              align-items: center;
              justify-content: center
            }
            .custom_model.show_popup {
              display: flex
            }
            .custom_model_content {
              position: relative;
              background-color: #fff;
              padding: 40px;
              border-radius: 6px;
              box-shadow: 0 0 10px #777;
              width: 100%;
              margin: auto
            }
            .model_close {
              position: absolute;
              width: 40px;
              height: 40px;
              right: 35px;
              top: 35px;
              transition: 0.5s all
            }
            .model_close img {
              width: 15px
            }
            .login-text {
              margin-bottom: 0 !important;
              margin-top: 0 !important;
              font-family: Outfit;
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 20px;
              text-align: center;
              letter-spacing: 0.02em;
              font-feature-settings: "pnum" on, "lnum" on;
              color: #000
            }
            .welcome {
              font-family: Outfit;
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 26px;
              text-align: center;
              color: #000
            }
            .facet-checkbox {
              margin-top: 2rem;
              position: relative;
              font-size: 1.4rem;
              display: flex;
              word-break: break-word;
              cursor: pointer;
              line-height: 1
            }
            .facet-checkbox input[type=checkbox] {
              position: absolute;
              opacity: 1;
              width: 1.6rem;
              height: 1.6rem;
              top: 0;
              left: 0;
              margin: 0;
              z-index: -1;
              appearance: none;
              -webkit-appearance: none
            }
            .facet-checkbox .icon-checkmark {
              background-color: rgb(var(--color-background));
              margin-inline-end: 1.2rem;
              flex-shrink: 0;
              width: 1.6rem !important;
              height: 1.6rem !important
            }
            .facet-checkbox .icon-checkmark path:last-child {
              visibility: hidden
            }
            .facet-checkbox > input[type=checkbox]:checked ~ .icon-checkmark path:last-child {
              visibility: visible
            }
            .customer .typeset {
              color: rgba(var(--color-foreground), 0.55)
            }
            .customer .typeset a {
              display: inline-block;
              font-size: 1.6rem;
              line-height: calc(1 + 0.8 / var(--font-body-scale))
            }
            :is(.login) .typeset {
              font-size: 2rem
            }
            :is(.login) .typeset a {
              color: #149253 font-size: 2rem;
              line-height: calc(1 + 0.4 / var(--font-body-scale))
            }
            .customer form {
              margin-top: 2rem
            }
            .customer .button {
              margin: 2rem 0 1.5rem;
              margin-inline-end: 2rem
            }
            @media screen and (max-width: 420px) {
              .customer .button {
                width: 100%;
                margin-inline-end: 0
              }
            }
            .customer .button--tertiary {
              margin: 0
            }
            .customer .button + .link {
              display: inline-block;
              font-size: 1.6rem
            }
            .customer ul {
              line-height: calc(1 + 0.6 / var(--font-body-scale));
              padding-inline-start: 4.4rem;
              text-align: start;
              margin-bottom: 4rem
            }
            .customer ul a {
              display: inline
            }
            .customer strong {
              font-weight: 400;
              color: rgb(var(--color-foreground))
            }
            .customer h2.form__message {
              font-size: calc(var(--font-heading-scale) * 1.8rem)
            }
            @media screen and (min-width: 750px) {
              .customer h2.form__message {
                font-size: calc(var(--font-heading-scale) * 2.2rem)
              }
            }
            .customer .field {
              margin: 2rem 0 0
            }
            .customer .field:first-of-type {
              margin-top: 0
            }
            .customer table {
              table-layout: auto;
              border-collapse: collapse;
              border-bottom: 0.01rem solid rgb(var(--color-border));
              box-shadow: none;
              width: 100%;
              font-size: 1.6rem;
              position: relative
            }
            @media screen and (max-width: 520px) {
              .welcome {
                font-size: 14px;
                line-height: 20px
              }
              .login p {
                margin: 0.5rem 0 !important
              }
              .login .field + a {
                margin-top: 1rem;
                font-size: 1.6rem
              }
              .customer .button {
                margin: 1rem 0
              }
              :is(.login) .typeset {
                font-size: 1rem
              }
              .customer .typeset a {
                font-size: 1.2rem
              }
              .customer .button + .link {
                margin-bottom: 1rem
              }
              .custom_model_content {
                width: 88%;
                padding: 20px
              }
              .h2 {
                margin: 8px 0;
                line-height: 20px
              }
              .model_close {
                top: 25px;
                right: 25px
              }
            }
            @media screen and (min-width: 750px) {
              .customer table {
                border: none;
                box-shadow: 0 0 0 0.1rem rgb(var(--color-border))
              }
            }
            .customer tbody {
              color: rgb(var(--color-foreground))
            }
            .customer th,
            .customer td {
              font-weight: 400;
              line-height: 1;
              border: none;
              padding: 0
            }
            @media screen and (min-width: 750px) {
              .customer td {
                padding-inline-end: 2.2rem
              }
            }
            .customer tbody td {
              padding-top: 1rem;
              padding-bottom: 1rem
            }
            @media screen and (min-width: 750px) {
              .customer tbody td {
                padding-top: 0;
                padding-bottom: 0
              }
            }
            .customer td:empty {
              display: initial
            }
            @media screen and (min-width: 750px) {
              .customer th,
              .customer td:first-of-type {
                text-align: start;
                padding-inline-start: 0;
                padding-inline-end: 2.2rem
              }
              .customer thead th,
              .customer tbody td:first-of-type {
                padding-top: 2.4rem;
                padding-bottom: 2.4rem
              }
            }
            .customer thead th {
              font-size: 1.2rem;
              letter-spacing: 0.07rem;
              text-transform: uppercase
            }
            @media screen and (min-width: 750px) {
              .customer th:first-of-type,
              .customer td:first-of-type {
                padding-inline-start: 2.2rem
              }
            }
            .customer tbody td:first-of-type {
              padding-top: 4rem
            }
            @media screen and (min-width: 750px) {
              .customer tbody td:first-of-type {
                padding-top: 2.4rem
              }
            }
            .customer tbody td:last-of-type {
              padding-bottom: 4rem
            }
            @media screen and (min-width: 750px) {
              .customer tbody td:last-of-type {
                padding-bottom: 0
              }
            }
            .customer tbody tr {
              border-top: 0.01rem solid rgb(var(--color-border))
            }
            @media screen and (min-width: 750px) {
              .customer tbody tr:first-of-type {
                border-top: none
              }
            }
            .customer tfoot td:first-of-type,
            .customer tfoot td {
              padding-top: 0.6rem;
              padding-bottom: 0.6rem
            }
            .customer tfoot td:first-of-type {
              text-align: start
            }
            .customer tfoot tr:first-of-type td {
              padding-top: 4rem
            }
            @media screen and (min-width: 750px) {
              .customer tfoot tr:first-of-type td,
              .customer tfoot tr:first-of-type th {
                padding-top: 2.4rem
              }
            }
            .customer tfoot tr:last-of-type td {
              padding-bottom: 4rem
            }
            @media screen and (min-width: 750px) {
              .customer tfoot tr:last-of-type td,
              .customer tfoot tr:last-of-type th {
                padding-bottom: 2.4rem
              }
            }
            .customer thead:after,
            .customer tfoot:before {
              content: " ";
              height: 0.1rem;
              width: 100%;
              display: block;
              position: absolute;
              left: 0;
              background-color: rgb(var(--color-border))
            }
            @media screen and (max-width: 749px) {
              .customer thead,
              .customer th,
              .customer tfoot td:first-of-type {
                display: none
              }
              .customer td {
                display: flex;
                text-align: end
              }
              .customer td:before {
                content: attr(data-label);
                padding-inline-end: 2rem;
                text-transform: uppercase;
                flex-grow: 1;
                text-align: start
              }
              .customer td:first-of-type {
                display: flex;
                align-items: center
              }
              .customer tr {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%
              }
            }
            .customer .pagination {
              margin-top: 5rem;
              margin-bottom: 7rem
            }
            @media screen and (min-width: 990px) {
              .customer .pagination {
                margin-top: 7rem;
                margin-bottom: 10rem
              }
            }
            .customer .pagination ul {
              display: flex;
              justify-content: center;
              list-style: none;
              padding: 0
            }
            .customer .pagination li {
              flex: 1 1;
              max-width: 4rem
            }
            .customer .pagination li:not(:last-child) {
              margin-inline-end: 1rem
            }
            .customer .pagination li:first-child {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              position: relative;
              height: 4rem;
              width: 100%;
              padding: 0;
              text-decoration: none
            }
            .customer .pagination li:first-child .icon {
              height: 0.6rem
            }
            .customer .pagination li:first-of-type .icon {
              margin-inline-start: -0.2rem;
              transform: rotate(90deg)
            }
            .customer .pagination li:last-of-type .icon {
              margin-inline-end: -0.2rem;
              transform: rotate(-90deg)
            }
            .customer .pagination li [aria-current]:after {
              content: "";
              display: block;
              width: 2rem;
              height: 0.01rem;
              position: absolute;
              bottom: 0.08rem;
              left: 50%;
              transform: translate(-50%);
              background-color: currentColor
            }
            .login a {
              display: block;
              margin: 0 auto;
              width: fit-content
            }
            .login a[href="#recover"] {
              margin-inline-start: 0;
              margin-inline-end: 0
            }
            .login .field + a {
              margin-top: 1rem;
              font-size: 1.6rem
            }
            .login p {
              margin: 1.5rem 0
            }
            .login h3 {
              margin-top: 1.5rem;
              text-align: start;
              font-size: calc(var(--font-heading-scale) * 1.6rem)
            }
            #customer_login_guest button {
              margin-top: 0
            }
            #recover,
            #recover + div {
              display: none
            }
            #recover:target {
              display: inline
            }
            #recover:target + div {
              display: block
            }
            #recover:target ~ #login,
            #recover:target ~ #login + div {
              display: none
            }
            @media only screen and (min-width: 750px) {
              .activate button[name=decline] {
                margin-top: inherit;
                margin-inline-start: 1rem
              }
            }
            :is(.account, .order) {
              margin: 6rem auto 9rem;
              max-width: var(--page-width)
            }
            @media screen and (min-width: 990px){:is(.account, .order) > div:nth-of-type(2) {
              margin-top: 5rem
            }
          }
          @media screen and (max-width: 989px) {
            .main-page-account .grid__item {
              width: 100%;
              max-width: 100%
            }
          }
          @media screen and (min-width: 750px) and(max-width: 989px) {
            .order > div:nth-of-type(2) > div:last-of-type {
              display: flex
            }
            .order > div:nth-of-type(2) > div:last-of-type div {
              padding-inline-end: 3.2rem;
              flex-grow: 1;
              flex-shrink: 0
            }
          }
          :is(.account, .order, .addresses) p {
            margin: 0 0 2rem;
            font-size: 1.6rem
          }
          :is(.account, .order, .addresses) h1 {
            margin-bottom: 1rem
          }
          :is(.account, .order) h2 {
            margin-top: 4rem;
            margin-bottom: 3rem
          }
          @media screen and (min-width: 990px){:is(.account, .order) h2 {
            margin-top: 0
          }
          }
          .account h1 + a {
          display: inline-flex;
          align-items: center
          }
          .account a .icon {
          width: 1.5rem;
          margin-inline-end: 1rem
          }
          @media screen and (min-width: 750px) {
          .account thead th:last-child,
          .account td:last-child {
            text-align: end
          }
          .account table td:first-of-type {
            padding-top: 1.2rem;
            padding-bottom: 1.2rem
          }
          }
          .account table td:first-of-type a {
          font-size: inherit
          }
          .order td:first-of-type {
          align-items: initial
          }
          @media screen and (min-width: 750px) {
          .order thead th:nth-last-child(-n + 3),
          .order td:nth-last-child(-n + 3) {
            text-align: end
          }
          }
          .order tfoot tr:last-of-type td,
          .order tfoot tr:last-of-type th {
          font-size: 2.2rem;
          padding-top: 1.5rem;
          padding-bottom: 4rem
          }
          @media screen and (min-width: 750px) {
          .order tfoot tr:last-of-type td,
          .order tfoot tr:last-of-type th {
            padding-bottom: 2.4rem
          }
          }
          .order tfoot tr:last-of-type td:before {
          font-size: 2.2rem
          }
          .order table p,
          .order > div:nth-of-type(2) > div:first-of-type h2,
          .order > div:nth-of-type(2) > div:last-of-type h2 + p {
          margin-bottom: 0
          }
          .order > div:nth-of-type(2) > div:first-of-type h2 ~ p {
          margin-bottom: 0;
          font-size: 1.4rem
          }
          .order > div:nth-of-type(2) > div:first-of-type h2 ~ p:last-of-type {
          margin-bottom: 3rem
          }
          .order .item-props {
          font-size: 1.4rem;
          margin-top: 0.05px;
          display: flex;
          flex-direction: column
          }
          .order .item-props > span {
          word-break: break-all;
          line-height: calc(1 + 0.2 / var(--font-body-scale))
          }
          .order .fulfillment {
          width: fit-content;
          border: 0.01rem solid rgb(var(--color-border));
          padding: 1rem;
          margin-top: 1rem;
          font-size: 1.2rem;
          text-align: start
          }
          .order .fulfillment a {
          margin: 0.7rem 0
          }
          .order .fulfillment span {
          display: block
          }
          .order .cart-discount {
          display: block;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
          font-size: 1.2rem
          }
          @media screen and (min-width: 750px) {
          .order td .cart-discount {
            display: none
          }
          }
          .order tbody ul {
          list-style: none;
          font-size: 1.2rem;
          text-align: end;
          padding-inline-start: 0;
          margin-top: 1rem;
          margin-bottom: 0
          }
          @media screen and (min-width: 750px) {
          .order tbody ul {
            text-align: start
          }
          }
          .order table a {
          color: rgba(var(--color-foreground), 0.85);
          line-height: calc(1 + 0.2 / var(--font-body-scale))
          }
          @media screen and (hover: hover) {
          .order table a:hover {
            color: rgba(var(--color-foreground), 0.75)
          }
          }
          .order tbody tr:first-of-type td:first-of-type > div {
          display: flex;
          flex-direction: column;
          align-items: flex-end
          }
          @media screen and (min-width: 750px) {
          .order tbody tr:first-of-type td:first-of-type > div {
            align-items: flex-start
          }
          }
          .order .properties {
          font-size: 1.4rem;
          margin-top: 1rem
          }
          .order .properties span {
          display: block;
          line-height: calc(1 + 0.2 / var(--font-body-scale))
          }
          .order .icon {
          width: 1.1rem;
          margin-inline-end: 0.5rem
          }
          .order dl {
          margin: 0
          }
          .order dd {
          margin-inline-start: 0;
          line-height: calc(1 + 0.3 / var(--font-body-scale))
          }
          .order dd s {
          color: rgba(var(--color-foreground), 0.7)
          }
          .addresses {
          margin-top: 0 !important
          }
          .addresses li > button:not(".address_delete-button") {
          margin-inline-start: 0.5rem;
          margin-inline-end: 0.5rem
          }
          .addresses li > button + button,
          .addresses form button + button {
          margin-top: 0
          }
          @media screen and (min-width: 750px) {
          .addresses li > button:first-of-type {
            margin-top: 3rem
          }
          }
          label[for=AddressCountryNew],
          label[for=AddressProvinceNew] {
          display: block;
          font-size: 1.4rem;
          margin-bottom: 0.6rem
          }
          .addresses form {
          display: flex;
          flex-flow: row wrap
          }
          .addresses form > div {
          width: 100%;
          text-align: start
          }
          .addresses ul {
          list-style: none;
          padding-inline-start: 0;
          text-align: center;
          display: flex;
          flex-wrap: wrap;
          margin: 0 -15px;
          gap: 15px
          }
          li[data-address] {
          display: block;
          text-decoration: none;
          color: #000;
          text-align: left;
          margin: 0 15px;
          min-width: 293px
          }
          .addresses [aria-expanded=false] .edit__address-wrapper {
          display: none
          }
          .addresses [aria-expanded=false] ~ div[id] {
          display: none
          }
          .addresses [aria-expanded=true] ~ div[id] {
          display: block
          }
          .addresses [aria-expanded=true] ~ div[id] h2 {
          margin-top: 4rem;
          padding-top: 0.83em;
          border-top: 0.1rem solid rgb(var(--color-border))
          }
          .addresses h2 {
          text-align: start
          }
          li[data-address] > h2 {
          text-align: center;
          font-size: calc(var(--font-heading-scale) * 1.8rem);
          margin: 0
          }
          @media only screen and (min-width: 750px) {
          li[data-address] > h2 {
            font-size: calc(var(--font-heading-scale) * 2.2rem)
          }
          .addresses ul {
            margin: 0 auto
          }
          }
          .addresses ul p {
          margin-bottom: 0
          }
          @media only screen and (min-width: 750px) {
          .addresses form > div:nth-of-type(1) {
            padding-inline-end: 2rem
          }
          .addresses form > div:nth-of-type(2) {
            margin-top: 0
          }
          .addresses form > div:nth-of-type(1),
          .addresses form > div:nth-of-type(2) {
            flex-basis: 50%;
            box-sizing: border-box
          }
          }
          .customer__account {
          display: flex
          }
          .account__card {
          display: block;
          text-decoration: none;
          color: #000;
          border: 1px solid rgb(var(--color-border));
          border-radius: 13px;
          padding: 12px 14px
          }
          .border-bottom {
          border-bottom: 1px solid rgb(var(--color-border));
          margin: 0;
          padding-bottom: 10px
          }
          .border-top {
          border-top: 1px solid rgb(var(--color-border));
          margin: 0;
          padding-bottom: 10px
          }
          .customer__account .account__sidebar {
          width: 400px
          }
          .customer__account .account__content {
          flex: 1 1 auto;
          max-width: 760px;
          margin: 30px auto;
          padding: 0 10px
          }
          .sidebar__menu {
          border-right: 1px solid rgb(var(--color-border));
          min-height: 500px;
          height: 100%
          }
          .sidebar__menu-button {
          text-decoration: none;
          display: flex;
          align-items: center;
          padding: 20px 45px;
          text-align: left;
          border-bottom: 1px solid rgb(var(--color-border));
          cursor: pointer
          }
          .sidebar__menu-button[active=true] {
          border-right: 4px solid #149253
          }
          .sidebar__menu-button[active=true] svg {
          fill: #149253
          }
          .sidebar__menu-icon {
          line-height: 1;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center
          }
          .sidebar__menu-text {
          margin: 0 0 0 16px;
          color: #000
          }
          .customer__account .border {
          border: 1px solid #C8C8C8;
          border-radius: 9px
          }
          .customer__account .account-items {
          display: grid;
          grid-template-columns: 1fr;
          gap: 0;
          margin-bottom: 60px
          }
          .customer__account .account-items .border:not(:last-child):not(:first-child) {
          border-radius: unset;
          border-bottom: unset
          }
          .customer__account .account-items .border:first-child {
          border-bottom: unset;
          border-radius: 9px 9px 0 0
          }
          .customer__account .account-items .border:last-child {
          border-radius: 0 0 9px 9px
          }
          .customer__account .account-item {
          padding: 22px
          }
          .customer__account .account-item a {
          display: grid;
          grid-template-columns: auto auto;
          align-items: center;
          justify-content: space-between;
          color: #000
          }
          .customer__account .account-item-details label {
          font-size: 14px;
          color: #646464
          }
          .customer__account .account-item-details p {
          margin: 0;
          font-size: 18px;
          line-height: 1
          }
          .customer__account .account-item-detailsContainer {
          display: grid;
          gap: 15px
          }
          .customer__account .account-item .profile-icon__icon {
          width: 64px;
          height: 64px
          }
          .customer__account .account-item .text {
          text-underline-position: under;
          color: #000;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500
          }
          .order__history .order__wrapper {
          display: grid;
          gap: 20px
          }
          .order__history .order__item {
          display: block;
          text-decoration: none;
          color: #000;
          border: 1px solid rgb(var(--color-border));
          border-radius: 13px;
          padding: 12px 14px
          }
          .order__history .order__info {
          display: flex;
          justify-content: space-between
          }
          .order__history .order__info p {
          margin: 0;
          line-height: 1
          }
          .order__history .order__info span {
          font-size: 13px;
          color: #646464
          }
          .order__history .order__images {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 12px
          }
          .order__history .order__images .order__item-images img {
          width: 60px;
          height: 70px;
          border: 1px solid rgb(var(--color-border));
          margin-right: 5px
          }
          .order__history .order__images .order__item-images span {
          font-size: 13px;
          color: #646464
          }
          .order__summery {
          margin: 20px 0
          }
          .order__summery .order__lineitem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 13px 0 0
          }
          .order__summery .order__lineitem .lineitem__wrapper {
          display: flex;
          align-items: center
          }
          .order__summery .order__lineitem-image {
          position: relative;
          margin-right: 15px
          }
          .order__summery .order__lineitem-image img {
          width: 60px;
          height: 63px;
          border: 1px solid rgb(var(--color-border))
          }
          .order__summery .order__lineitem-image .order__lineitem-qty {
          position: absolute;
          margin: 0;
          top: -8px;
          right: -6px;
          z-index: 2;
          background-color: #d3d2c9;
          color: #fff;
          border-radius: 50%;
          height: 20px;
          width: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          color: #000
          }
          .order__summery .lineitem__wrapper .lineitem__info p {
          margin: 0;
          line-height: 1
          }
          .order__summery .lineitem__wrapper .lineitem__info span {
          font-size: 13px;
          color: #646464
          }
          .order__summery .order__price {
          margin-top: 10px
          }
          .order__summery .order__price .order__price-details {
          display: flex;
          align-items: center;
          justify-content: space-between
          }
          .order__summery .order__price .order__price-details p {
          margin: 0;
          padding: 10px 0;
          color: #646464
          }
          .order__summery .order__price .total__price p {
          font-weight: 600;
          color: #000
          }
          .deliery__address {
          margin-bottom: 30px
          }
          .deliery__address .sub__title {
          margin: 0;
          font-weight: 600;
          line-height: 1.4
          }
          .deliery__address .address__body p {
          margin: 10px 0 0;
          line-height: 1.5;
          font-size: 14px;
          color: #646464
          }
          .deliery__address .payment__mode {
          padding-top: 10px;
          margin-top: 10px
          }
          .customer__account .account__content {
          flex: 1 1 auto;
          max-width: 760px;
          margin: 30px auto
          }
          .customer .default_address_title {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          font-family: Outfit;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          text-align: left;
          border-bottom: 1px solid #C8C8C8;
          margin-bottom: 20px;
          padding-bottom: 5px
          }
          .customer .address_name {
          font-size: 18px;
          line-height: 26px
          }
          .customer .address_street,
          .customer .address_phone {
          font-weight: 300;
          font-size: 14px;
          line-height: 20px;
          color: #323232;
          letter-spacing: 0.02em;
          font-feature-settings: "pnum" on, "lnum" on
          }
          .customer .address_street {
          padding: 5px 0 25px
          }
          .address_footer {
          display: flex;
          justify-content: space-between;
          padding-top: 25px
          }
          .address-edit-button,
          .address_delete-button {
          background: none;
          border: none;
          position: relative;
          cursor: pointer
          }
          .address-edit-button {
          background: none;
          border: none;
          font-family: Outfit;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          font-feature-settings: "pnum" on, "lnum" on
          }
          .address-edit-button:after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 80%;
          height: 2px;
          background: black;
          right: 0;
          margin: 0 auto
          }
          .customer button.add_address {
          height: 40px;
          padding: 0;
          margin: 1.5rem 0;
          border-color: #149253;
          background: white;
          color: #149253;
          border-radius: 4px;
          line-height: 20px;
          font-size: 15px;
          letter-spacing: 0.1em;
          font-weight: 400;
          font-family: Outfit;
          min-height: 40px !important
          }
          .customer button.add_address:after {
          background: #149253
          }
          .customer button.add_address:hover {
          color: #fff
          }
          .account__page-title {
          font-family: Outfit;
          font-weight: 500;
          font-size: 32px;
          line-height: 40px;
          color: #323232
          }
          .set_as_default_address {
          padding-left: 10px
          }
          .address_card {
          border: 1px solid rgb(var(--color-border));
          border-radius: 13px;
          padding: 12px 14px
          }
          @media only screen and (min-width: 680px) {
          .addresses ul {
            flex-wrap: wrap;
            gap: 30px
          }
          li[data-address] {
            margin: unset;
            max-width: 271px;
            display: flex;
            flex-direction: column;
            justify-content: space-between
          }
          .customer button.add_address {
            margin-top: 34px
          }
          }
          @media only screen and (max-width: 680px) {
          .customer__account .account__sidebar {
            display: none
          }
          .customer__account .account__content {
            width: 100%;
            max-width: 100%;
            margin: 20px
          }
          .order__history .order__images .order__item-images img {
            width: 55px;
            height: 60px
          }
          }
          </style>
          {%- endfor %}
        </ul>
      </div>
      {% if section.settings.image != blank %}
        <div class="flex-items__logo">
          <div class="justify-center align-center">
            <a href="/">
              {% render 'image', class: 'logo', mobileSrc: , desktopSrc: section.settings.image %}
            </a>
          </div>
        </div>
      {% endif %}
      <div class="flex-item__icons flex">
        <div>
          <button class="icon" id="search_icon">
            <svg
              width="30px"
              height="30px"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z" /></svg>
          </button>
        </div>
        <a class="icon" id="myBtn">
          <svg
            width="30px"
            height="30px"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M272 304h-96C78.8 304 0 382.8 0 480c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32C448 382.8 369.2 304 272 304zM48.99 464C56.89 400.9 110.8 352 176 352h96c65.16 0 119.1 48.95 127 112H48.99zM224 256c70.69 0 128-57.31 128-128c0-70.69-57.31-128-128-128S96 57.31 96 128C96 198.7 153.3 256 224 256zM224 48c44.11 0 80 35.89 80 80c0 44.11-35.89 80-80 80S144 172.1 144 128C144 83.89 179.9 48 224 48z" /></svg>
        </a>
        <a
          class="icon"
          href={{ routes.cart_url}}
          id="cart_icon">
          <svg
            width="30px"
            height="30px"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" /></svg>
        </a>
      </div>
    </div>
    <div id="mobile-menu-bar" class="display-none">
      <ul class="">
        {% for link in section.settings.mobile_menu.links -%}
          <a class="text-decoration-none" href="{{link.url}}">
            <li class="links_{{section.id}} flex  align-center">
              <div>{{ link.title }}</div>
            </li>
          </a>
        {%- endfor %}
      </ul>
    </div>
    <div id="searchBar" class="searchBar display-none">
      <form class="search" action="/search">
        <input
          class="searchBar"
          type="text"
          placeholder="Search"
          name="q"
          value="{{ search.terms | escape }}" />
        <input type="submit" value="Search" />
      </form>
    </div>
  </div>
</div>
<script>
  let search_icon = document.getElementById("search_icon");
  search_icon.onclick = () => {
    let searchBar = document.getElementById("searchBar");
    searchBar.classList.toggle("display-none");
  }

  let hamburger = document.getElementById("hamburger");
  hamburger.onclick = () => {
    let mobileMenuBar = document.getElementById("mobile-menu-bar");
    mobileMenuBar.classList.toggle("display-none");
  }
</script>
<style>
  .flex-items__logo {
    position: absolute;

  }
  .mobile_nav {
    display: none;
  }
  .icon {
    border: none;
    background-color: transparent;
  }
  .display-none {
    display: none;
  }
  .searchBar {
    width: 70%;
    margin: auto auto 30px;
  }
  .flex-item__icons {
    margin: 20px 20px 20px auto;
  }
  .flex-item__search {
    margin: 0 20px;
    padding: 5px;
  }
  .header-container {
    padding: 20px;
  }
  .flex-items__logo {
    max-width: 180px;
    max-height: 50px;
    margin: 10px 30px;
  }
  .links_{{ section.id}}{
    list-style: none;
    font-weight: 500;
    margin-left: 20px;
    font-size: 1.5rem;
    color: {{ section.settings.text_color}}
    ;
    text-transform: uppercase;
  }
  .header-container_{{ section.id}}{
    background-color: {{ section.settings.background_color}}
  }
  @media screen and (max-width:990px) {
    .hamburger-button {
      background-color: transparent;
      border: none;
    }
    .links_{{ section.id}}{
      list-style: none;
      font-weight: 700;
      margin: 0 5px;
      font-size: 1rem;
      color: {{ section.settings.text_color}}
      ;
    }
    .flex-items__logo {
      max-width: 130px;
      max-height: 40px;
      margin: auto 0;
      position: relative;
      left: 10%;
    }
    .flex-item__links {
      display: none;
    }
    .mobile_nav {
      margin: auto 0;
    }
    .flex-item__icons {
      margin: 20px 5px 20px auto;
    }
    .links_{{ section.id}}{
      font-size: 22px;
      font-weight: 500;
    }
    .mobile_nav {
      display: block;
    }
  }
</style>
{% schema %}
  {
    "name": "Header",
    "class": "section",
    "tag": "header",
    "settings": [
      {
        "type": "header",
        "content": "LOGO"
      },
      {
        "type": "image_picker",
        "label": "Logo image",
        "id": "image"
      },
      {
        "type": "radio",
        "id": "logo_position",
        "label": "Logo Position",
        "options": [
          {
            "label": "Left",
            "value": "justify-start align-start"
          }, {
            "label": "Center",
            "value": "justify-center align-center"
          }
        ],
        "default": "justify-start align-start"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      }, {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      }, {
        "type": "link_list",
        "id": "main_menu",
        "label": "Menu"
      }, {
        "type": "link_list",
        "id": "mobile_menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}