{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0  }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<div class="richtext richtext-{{ section.id }} section-{{ section.id }}-padding">
  <div class="wrapper-text">
    <div
      class="richtext__content-image">
      {% assign mobile_image = section.settings.image_desktop | default: section.settings.image_desktop %}
      {% render 'image', mobileSrc: mobile_image, desktopSrc: section.settings.image_desktop %}
    </div>
    <div class="richtext__content-text cotainer">
      <div class="richtext__wrapper-text  {{ section.settings.text_alignment }}  {{ section.settings.text_position }}">
        {% if section.settings.heading_text != blank %}
          <h3 class="richtext__heading text-color--{{section.ids}}">{{ section.settings.heading_text }}</h3>
        {% endif %}
        {% if section.settings.paragraph_text != blank %}
          <div class="richtext__paragraph text-color--{{section.ids}}">{{ section.settings.paragraph_text }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% style %}
  .text-color--{{section.ids}} {
    color: {{ section.settings.text_color}}
    ;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Image Richtext",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Image settings"
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Image",
        "info": "1200 x 500px .jpg recommended"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image mobile",
        "info": "600 x 800px .jpg recommended"
      },
      {
        "type": "header",
        "content": "Heading text"
      }, {
        "type": "text",
        "id": "heading_text",
        "label": "Heading text",
        "default": "OUR PROMISE"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#FFFFFF"
      }, {
        "type": "richtext",
        "id": "paragraph_text",
        "label": "Pragraph Text"
      }, {
        "type": "header",
        "content": "Text alignment"
      }, {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      }, {
        "type": "select",
        "id": "text_position",
        "label": "Text position",
        "options": [
          {
            "value": "justify-start",
            "label": "Top"
          }, {
            "value": "justify-center",
            "label": "Center"
          }, {
            "value": "justify-end",
            "label": "Bottom"
          }
        ],
        "default": "justify-center"
      }
    ],
    "presets": [
      {
        "name": "Image Richtext"
      }
    ]
  }
{% endschema %}