{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 |append: 'px'  }}
    ;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 |append: 'px'  }}
    ;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | append: 'px' }}
      ;
      padding-bottom: {{ section.settings.padding_bottom| append: 'px' }}
      ;
    }
  }
{% endstyle %}

<div class="shopify-section section-gallery section-{{ section.id }}-padding">
  <link
    href="//cdn.shopify.com/s/files/1/0624/9329/4741/t/2/assets/gallery.css?v=41572512306552596591671039014"
    rel="stylesheet"
    type="text/css"
    media="all">
  <div class="row full-width-row">
    <div class="small-12 columns">
      <div class="gallery gallery-spacing--large text-left section-spacing section-spacing--disable-top" style="--gallery-columns: 2;--overlay-color-rgb: 0, 0, 0; --overlay-opacity: 0.2">
        <div class="gallery__inner">
          <div class="gallery__item">
            <figure class="aspect-ratio aspect-ratio--adapt" style="--ratio-percent: 92.3076923076923%;">
              <img
                class="lazyautosizes lazyloaded"
                width="1300"
                height="1200"
                data-sizes="auto"
                src="//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery01_20x_crop_center.jpg?v=1661431699"
                data-srcset="//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery01_375x_crop_center.jpg?v=1661431699 375w,//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery01_750x_crop_center.jpg?v=1661431699 750w"
                alt=""
                style="object-position: 50.0% 50.0%;"
                sizes="618px"
                srcset="//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery01_375x_crop_center.jpg?v=1661431699 375w,//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery01_750x_crop_center.jpg?v=1661431699 750w">
              <noscript>
                <img
                  width="1300"
                  height="1200"
                  sizes="auto"
                  src="//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery01_20x_crop_center.jpg?v=1661431699"
                  srcset="//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery01_375x_crop_center.jpg?v=1661431699 375w,//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery01_750x_crop_center.jpg?v=1661431699 750w"
                  alt=""
                  loading="lazy"
                  style="object-position: 50.0% 50.0%;" />
              </noscript>
              <div class="gallery__item-content content-bottom-left">
                <div>
                  <h4 class="h2">BUY NOW OR CRY LATER</h4>
                  <p>These stocks won't last forever.</p>
                  <a class="button white" href="/collections/all">
                    <span>Explore</span>
                  </a>
                </div>
              </div>
            </figure>
          </div>
          <div class="gallery__item">
            <figure class="aspect-ratio aspect-ratio--adapt" style="--ratio-percent: 92.3076923076923%;">
              <img
                class="lazyautosizes lazyloaded"
                width="1300"
                height="1200"
                data-sizes="auto"
                src="//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery02_20x_crop_center.jpg?v=1661431699"
                data-srcset="//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery02_375x_crop_center.jpg?v=1661431699 375w,//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery02_750x_crop_center.jpg?v=1661431699 750w"
                alt=""
                style="object-position: 50.0% 50.0%;"
                sizes="618px"
                srcset="//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery02_375x_crop_center.jpg?v=1661431699 375w,//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery02_750x_crop_center.jpg?v=1661431699 750w">
              <noscript>
                <img
                  width="1300"
                  height="1200"
                  sizes="auto"
                  src="//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery02_20x_crop_center.jpg?v=1661431699"
                  srcset="//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery02_375x_crop_center.jpg?v=1661431699 375w,//cdn.shopify.com/s/files/1/0624/9329/4741/files/gallery02_750x_crop_center.jpg?v=1661431699 750w"
                  alt=""
                  loading="lazy"
                  style="object-position: 50.0% 50.0%;" />
              </noscript>
              <div class="gallery__item-content content-bottom-left">
                <div>


                  <h4 class="h2">BE FREE. BE BEAUTIFUL.</h4>


                  <p>Express your wild side with these shirts.</p>


                  <a class="button white" href="/collections/all">
                    <span>Explore</span>
                  </a>


                </div>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


{% schema %}
  {
    "name": "New Gallery",
    "class": "section",
    "settings": [],
    "presets": [
      {
        "name": "New Gallery"
      }
    ]
  }
{% endschema %}