{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 |append: 'px'  }}
    ;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 |append: 'px'  }}
    ;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | append: 'px' }}
      ;
      padding-bottom: {{ section.settings.padding_bottom| append: 'px' }}
      ;
    }
  }
{% endstyle %}

{% if section.blocks.size > 0 %}
  <div class="multi-column-slider page-width section-{{ section.id }}-padding">
    {% if section.settings.heading %}
      <div
        class="h2">
        {{ section.settings.heading }}
      </div>
    {% endif %}
    <div class="multi-column-wrapper grid grid--1-col grid--4-col-desktop">
      {% for block in section.blocks %}
        <div class="multi-column-item grid__item">
          {% if block.settings.image != blank %}
            <img
              class="col-image"
              src="{{block.settings.image | img_url: 'large'}}"
              alt="">
          {% endif %}

          {% if block.settings.heading %}
            <div class="h3">
              {{ block.settings.heading }}</div>
          {% endif %}
          {% if block.settings.subheading %}
            <div>
              {{ block.settings.subheading }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<style>
  .multi-column-wrapper {
    flex-wrap: nowrap;
    overflow: auto;
  }
  .multi-column-item {
    max-width: 500px;
  }
  .col-image {
    width: 100%;
  }
</style>


{% schema %}
  {
    "name": "Multi Column Slider",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 40
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      }
    ],
    "blocks": [
      {
        "name": "column",
        "type": "column-section",
        "limit": 10,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }, {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Multi Column Slider"
      }
    ]
  }
{% endschema %}