<script src="{{ 'product-tabs.js' | asset_url }}" defer="defer"></script>
{{ "product-tabs.css" | asset_url | stylesheet_tag }}
{{ 'section-featured-collection.css' | asset_url | stylesheet_tag }}



{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0  }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{% capture slider_options %}
  { 
  "cellAlign": "left", 
                                    "contain": true, 
                                    "pageDots": false,
                                    "prevNextButtons": true
                                  }{% endcapture %}

{% if section.blocks.size > 0 %}
  <div class="page-width section-{{ section.id }}-padding">
    <div class="collection-tab__header">
      {% if section.settings.section_heading != blank %}
        <div class="collection-tab__heading h2 section-heading">
          {{ section.settings.section_heading }}
        </div>
      {% endif %}
      {% if section.settings.section_description != blank %}
        <div class="featured-collection__headeritem--para-text mb-10">{{ section.settings.section_description }}</div>
      {% endif %}
    </div>
    <div class="collection-tab__title tab__headings ">
      <div class="flex tab-title-items">
        {%- for block in section.blocks -%}
        {% if block.settings.title != blank and block.settings.collection != blank %}
          <div class="collection-tab__title-child tab__heading {% if forloop.first %} is--active {% endif %}" data-tab="{{ block.settings.title | handleize }}-{{ block.id }}">
            {{ block.settings.collection.title }} 
          </div>
        {% endif %}
      </div>
  <div class="view-all-button">Shop All</div>
                {%- endfor -%}

    </div>
    <tab-component class="collection-tab__collection-wrapper ">
      {%- for block in section.blocks -%}
        <div
          class="featured-collection__slider  tab__content {% if forloop.first %} is--active {% endif %} "
          id="{{ block.settings.title | handleize }}-{{ block.id }}"
          data-flickity='{{ slider_options }}'>
          {% if block.settings.title != blank and block.settings.collection != blank %}
            {%- for product in collections[block.settings.collection].products -%}
              <div class="featured-collection__slideritem">
                {% render 'product-card', section: block, product: product %}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      {%- endfor -%}
    </tab-component>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Product Tabs",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 40
      },
      {
        "type": "text",
        "id": "section_heading",
        "label": "Section heading"
      }, {
        "type": "text",
        "id": "section_description",
        "label": "Section Description"
      }
    ],
    "blocks": [
      {
        "type": "collection-tab",
        "name": "Collection Tab",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Tab title"
          }, {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Tabs"
      }
    ]
  }
{% endschema %}