{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0  }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<div class="richtext page-width section-{{ section.id }}-padding">
  <div class="container richtext-{{ section.id }} {{ section.settings.text_alignment }}">
    <div
      class="richtext__wrapper">
      {% if section.settings.heading_text != blank %}
        <h2 class="richtext__heading  text-color--{{section.id}}">{{ section.settings.heading_text }}</h2>
      {% endif %}
      {% if section.settings.paragraph_text != blank %}
        <div class="richtext__paragraph text-color--{{section.id}}">{{ section.settings.paragraph_text }}</div>
      {% endif %}
      {% if section.settings.button_text != blank and section.settings.button_link != blank %}
        <div class="richtext__button">
          <a class="button custom_button--{{section.id}}" href="{{ section.settings.button_link }}">
            {{ section.settings.button_text }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% style %}
  .richtext-{{ section.id }}{
    background: {{ section.settings.section_background }}
    ;
    padding: 50px 0;
  }
  .text-color--{{ section.id}}{
    color: {{ section.settings.text_color }}
    ;
  }
  .custom_button--{{ section.id}}{
    background-color: {{ section.settings.button_bg_color }}
    ;
    color: {{ section.settings.button_text_color }}
    ;
    border: 2px solid{{ section.settings.button_text_color }};
  }
  .custom_button--{{ section.id}}:hover  {
    color: {{ section.settings.button_bg_color }}
    ;
    background-color: {{ section.settings.button_text_color }}
    ;
  }
  @media screen and (max-width:750px) {
    .richtext-{{ section.id }}{
      background: {{ section.settings.section_background }}
      ;
      padding: 10px;
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "Richtext",
    "tag": "section",
    "class": "homepage-section",
    "settings": [
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 40
      },
      {
        "type": "color",
        "id": "section_background",
        "label": "Background Color",
        "default": "#c5c5c5"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#000000"
      }, {
        "type": "text",
        "id": "heading_text",
        "label": "Heading text",
        "default": "Shop Our Collections"
      }, {
        "type": "richtext",
        "id": "paragraph_text",
        "label": "Paragraph text",
        "default": "<p>For a limited time, teams in India can get 60% off when upgrading to a paid plan. Once you upgrade, your team will be able to see and search all past messages and files, add guests to your workspace, and more.</p>"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button text"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }, {
        "type": "color",
        "id": "button_text_color",
        "label": "Button Text Color",
        "default": "#fff"
      }, {
        "type": "color",
        "id": "button_bg_color",
        "label": "Button Background Color",
        "default": "#000000"
      }, {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      }
    ],
    "presets": [
      {
        "name": "Richtext"
      }
    ]
  }
{% endschema %}