{{ 'section-scrolling-text.css' | asset_url |stylesheet_tag }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"  defer="defer"></script>
<script type='text/javascript' src='//cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js'  defer="defer"></script>


{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0  }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{% if section.blocks.size > 0 %}
  <div class="scrolling-text mb-10 {{section.settings.font_style}} section-{{ section.id }}-padding section-spacing section-spacing--disable-top section-spacing--disable-bottom height-auto" style="--color-bg:{{section.settings.bg_color}};--color-text:{{section.settings.text_color}};--overlay-color-rgb: 0, 0, 0; --overlay-opacity: 0.0;">
    <div
      class="scrolling-text--inner direction-left marquee" data-duplicated='true' data-direction='left'>
      <div>
        {% for block in section.blocks %}
          <div class="scrolling-text--item outline-text--false">
            {% if block.settings.image != blank %}
              <img
                class="scrolling-text--image scrolling-text--image--medium lazyautosizes ls-is-cached lazyloaded"
                width="200"
                height="200"
                data-sizes="auto"
                src="{{block.settings.image | img_url}}"
                data-srcset="{{block.settings.image | img_url}} 200w"
                alt=""
                style="object-position: 50.0% 50.0%;"
                sizes="100px"
                srcset="{{block.settings.image | img_url}} 200w">
            {% endif %}
            <span class="outline-false--{{ block.id}}">
              <a class="text-decoration-none {%if block.settings.outline %} outline-true--{{ block.id}} {%else%}outline-false--{{ block.id}} {%endif%}" href="{{block.settings.link}}">
                {{ block.settings.text }}
              </a>
            </span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}


{% style %}
  {% for block in section.blocks %}
    .logo-text--{{ block.id}}{
      font-size: 50px;
    }
    .outline-false--{{ block.id}}{
      color: {{ section.settings.text_color}}
      ;
      font-size: {{ section.settings.text_size | append: 'px' }}
      ;

    }
    .outline-true--{{ block.id}}{
      color: white;
      font-size: {{ section.settings.text_size | append: 'px' }}
      ;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
    }
  {% endfor %}
{% endstyle %}


{% schema %}
  {
    "name": "Scrolling Text",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 40
      },
      {
        "type": "image_picker",
        "label": "Background image",
        "id": "bg_image"
      }, {
        "type": "select",
        "id": "height",
        "label": "Height",
        "options": [
          {
            "value": "300px",
            "label": "300px"
          }, {
            "value": "350px",
            "label": "350px"
          }, {
            "value": "400px",
            "label": "400px"
          }, {
            "value": "450px",
            "label": "450px"
          }
        ],
        "default": "300px"
      }, {
        "type": "select",
        "id": "direction",
        "label": "Direction",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      }, {
        "type": "range",
        "id": "text_size",
        "label": "Text size",
        "min": 40,
        "max": 140,
        "default": 70
      }, {
        "type": "select",
        "id": "font_style",
        "label": "Font Style",
        "options": [
          {
            "value": "scrolling-text-uppercase--true",
            "label": "Uppercase"
          }, {
            "value": "scrolling-text-uppercase--false",
            "label": "Lowercase"
          }
        ],
        "default": "scrolling-text-uppercase--false"
      }, {
        "type": "header",
        "content": "COLORS"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      }, {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay Color"
      }, {
        "type": "range",
        "id": "opacity",
        "label": "Opacity",
        "min": 0,
        "max": 100,
        "default": 0
      }
    ],
    "blocks": [
      {
        "name": "Text",
        "type": "text-section",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "text",
            "label": "Content"
          }, {
            "type": "url",
            "id": "link",
            "label": "Link"
          }, {
            "type": "checkbox",
            "id": "outline",
            "label": "Make Text Outline",
            "default": true
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Scrolling Text"
      }
    ]
  }
{% endschema %}