{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0  }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}
{% if section.blocks.size > 0 %}
  <div class="shop-the-look page-width section-{{ section.id }}-padding">
    <div class="shop-the-look-image">
      <img
        src="{{ section.settings.image | img_url: 'master' }}"
        alt="My alt text"
        style="object-position:25% 10%;">
      {% assign mobile_image= section.settings.mobile_image | default:section.settings.image %}
      {% render 'image', class: '', mobileSrc: mobile_image, desktopSrc: section.settings.image %}

    </div>
  </div>

{% endif %}


{% schema %}
  {
    "name": "Shop the look",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 40
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 40
      }
    ],
    "blocks": [
      {
        "name": "product",
        "type": "product-section",
        "limit": 5,
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "header",
            "content": "POSITION"
          },
          {
            "type": "range",
            "id": "horizantal",
            "min": 0,
            "max": 100,
            "default": 20,
            "label": "Horizontal",
            "info": "Horizontal position of the hot spot"
          },
          {
            "type": "range",
            "id": "vertical",
            "min": 0,
            "max": 100,
            "default": 20,
            "label": "Vertical",
            "info": "Vertical position of the hot spot"
          }, {
            "type": "header",
            "content": "MOBILE POSITION"
          }, {
            "type": "range",
            "id": "mobile_horizantal",
            "min": 0,
            "max": 100,
            "default": 20,
            "label": "Mobile Horizontal",
            "info": "Horizontal position of the hot spot on mobile screens"
          }, {
            "type": "range",
            "id": "mobile_vertical",
            "min": 0,
            "max": 100,
            "default": 20,
            "label": "Mobile Vertical",
            "info": "Vertical position of the hot spot on mobile screens"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Shop the look"
      }
    ]
  }
{% endschema %}