{{ 'slideshow.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0  }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<div class="image-banner section-{{ section.id }}-padding">
  <div class="image-banner__wrapper" data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": true,"autoPlay":true,"prevNextButtons": false}'>
    {% for block in section.blocks %}
      <div>
        {% if block.settings.image != null %}
          <div class="image-banner__image">
            {% render 'image', mobileSrc: block.settings.mobile_image, desktopSrc: block.settings.image %}
          {% endif %}
          <div class="image-banner__content flex {{block.settings.text_position}}">
            <div>
              {% if block.settings.caption != blank %}
                <div class="caption-text">
                  {{ block.settings.caption }}
                </div>
              {% endif %}
              <div class="h2 text-light">{{ block.settings.heading }}</div>
              <div class="h4 text-light">{{ block.settings.sub_heading }}</div>
              <div>
                <a class="button {{block.settings.button1_color}}" href="{{block.settings.button_link1}}">{{ block.settings.button_text1 }}</a>
                <a class="button {{block.settings.button2_color}}" href="{{block.settings.button_link2}}">{{ block.settings.button_text2 }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .caption-text {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  .primary-button {
    background: #fff;
    border: 2px solid #fff;
    color: black;
  }
  .primary-button:hover {
    background: black;
    border: 2px solid black;
    color: #fff;
  }

  .secondary-button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
  }
  .secondary-button:hover {
    background: #fff;
    border: 2px solid #fff;
    color: black;
  }
  .text-light {
    color: #ffffff;
    font-weight: 700;
  }
  .image-banner__image {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .image-banner__content {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 4rem;
  }
  @media screen and (max-width:750px) {
    .image-banner__image {
      height: 100%;
      height: 100%;
      width: 100%;
    }
    .image-banner__content {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 1rem;
    </style>





    
{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "name": "Slide item",
      "type": "slide",
      "limit": 6,
      "settings": [
        {
          "type": "header",
          "content": "Media settings"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video",
          "info": "If this is blank the image will be rendered"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "2048 x 1024px recommended"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Image (Mobile)",
          "info": "1024 x 1024px recommended"
        },
        {
          "type": "header",
          "content": "Content settings"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Caption text",
          "default": "Express yourself"
        },
        {
          "type": "color",
          "id": "caption_color",
          "label": "Caption text color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "label": "Heading text",
          "id": "heading",
          "default": "Loved for style"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading text color",
          "default": "#ffffff"
        },
        {
          "type": "richtext",
          "label": "Paragraph",
          "id": "paragraph",
          "default": "<p>It's hard to be nice if you don't feel comfortable</p>"
        },
        {
          "type": "color",
          "id": "paragraph_color",
          "label": "Paragraph text color",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Button settings"
        },
        {
          "type": "text",
          "id": "button_text_1",
          "label": "First button text",
          "default": "Shop tops"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "First button link"
        },
        {
          "type": "select",
          "id": "button_type_1",
          "label": "First button type",
          "options": [
            {             
              "value": "button--primary",
              "label": "Black background"
            },
            {
              "value": "button--secondary",
              "label": "Black bordered"
            },
            {
              "value": "button--tertiary",
              "label": "White background"
            },
            {
              "value": "button--white",
              "label": "White bordered"
            }
          ],
          "default": "button--white"
        },
        {
          "type": "text",
          "id": "button_text_2",
          "label": "Second button text",
          "default": "Shop tops"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Second button link"
        },
        {
          "type": "select",
          "id": "button_type_2",
          "label": "Second button type",
          "options": [
            {             
              "value": "button--primary",
              "label": "Black background"
            },
            {
              "value": "button--secondary",
              "label": "Black bordered"
            },
            {
              "value": "button--tertiary",
              "label": "White background"
            },
            {
              "value": "button--white",
              "label": "White bordered"
            }
          ],
          "default": "button--tertiary"
        },
        {
          "type": "header",
          "content": "Alignment settings"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "options": [
            {
              "value": "align-start justify-start",
              "label": "Top left"
            },
            {
              "value": "align-start justify-center",
              "label": "Top center"
            },
            {
              "value": "align-start justify-end",
              "label": "Top right"
            },
            {
              "value": "align-center justify-start",
              "label": "Middle left"
            },
            {
              "value": "align-center justify-center",
              "label": "Middle center"
            },
            {
              "value": "align-center justify-end",
              "label": "Middle right"
            },
            {
              "value": "align-end justify-start",
              "label": "Bottom left"
            },
            {
              "value": "align-end justify-center",
              "label": "Bottom center"
            },
            {
              "value": "align-end justify-end",
              "label": "Bottom right"
            }
          ],
          "default": "align-start justify-start"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Content position",
          "options": [
            {
              "value": "left",
                "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow"
    }
  ]
}
{% endschema %}