{{ 'section-slideshow.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0  }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{% capture slider_options %}
  { 
    "cellAlign": "left", 
    "contain": true, 
    "pageDots": true,
    "autoPlay": false,
    "prevNextButtons": false
  }
{% endcapture %}

<div class="slideshow section-{{ section.id }}-padding">
  <div class="slideshow__slider" {% if section.blocks.size > 1 %}data-flickity='{{ slider_options }}'{% endif %}>
    {% for block in section.blocks %}
      <div class="slideshow__slideritem"> 
        <div class="slideshow__slideritem-wrap">
          {% if block.settings.video != blank %}
            {% for video in block.settings.video.sources %}
              {% if video.format == 'mp4' %}
                <div class="media media--slideshow">
                  <video autoplay muted loop playsinline>
                    <source src="{{ video.url }}" type="{{ video.mime_type }}">
                  </video>
                </div>
              {% endif %}
            {% endfor %}
            
          {% elsif block.settings.image != blank %}
            {% assign mobile_image = block.settings.mobile_image | default: block.settings.image %}
            {% render 'image', class: 'media media--slideshow' mobileSrc: mobile_image, desktopSrc: block.settings.image %}
          
          {% else %}
            <div class="media media--slideshow">
              {{ 'collection-' | append: forloop.index | placeholder_svg_tag: 'placeholder' }}
            </div>
          {% endif %}
  
          <div class="slideshow__content page-width flex {{ block.settings.content_position }}">
            <div class="slideshow__content-wrapper {{ block.settings.text_alignment }}">
              {% if block.settings.caption != blank %}
                <div class="slideshow__caption caption-{{ block.id }}">
                  {{ block.settings.caption }}
                </div>
              {% endif %}
  
              {% if block.settings.heading != blank %}
                <div class="slideshow__heading h0 heading-{{ block.id }}">
                  {{ block.settings.heading }}
                </div>
              {% endif %}
  
              {% if block.settings.paragraph != blank %}
                <div class="slideshow__paragraph paragraph-{{ block.id }}">
                  {{ block.settings.paragraph }}
                </div>
              {% endif %}
  
              {% if block.settings.button_text_1 != blank or block.settings.button_text_2 != blank %}
                <div class="slideshow__buttons">
                  <a class="button {{ block.settings.button_type_1 }}" href="{{ block.settings.button_link_1 }}">
                    {{ block.settings.button_text_1 }}
                  </a>
                  <a class="button {{ block.settings.button_type_2 }}" href="{{ block.settings.button_link_2 }}">
                    {{ block.settings.button_text_2 }}
                  </a>              
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% style %}
{% for block in section.blocks %}
.caption-{{ block.id }}
  {
      color:{{block.settings.caption_color}};
      letter-spacing: .4em;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 500;
      font-size:1.5rem;
       }

  .heading-{{ block.id }}{
      color:{{block.settings.heading_color}};
        text-transform: uppercase;
    font-size:{{block.settings.font-size}}px;

  }

   .paragraph-{{ block.id }}{
      color:{{block.settings.paragraph_color}};
     font-size:2.4rem;
  }


  @media (max-width:750px){
     .heading-{{ block.id }}{
      color:40px;
        text-transform: uppercase;
    font-size:{{block.settings.font-size}}px;

  }
  }
  {% endfor %}}
{% endstyle %}

   
{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "name": "Slide item",
      "type": "slide",
      "limit": 6,
      "settings": [
        {
          "type": "header",
          "content": "Media settings"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video",
          "info": "If this is blank the image will be rendered"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "2048 x 1024px recommended"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Image (Mobile)",
          "info": "1024 x 1024px recommended"
        },
        {
          "type": "header",
          "content": "Content settings"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Caption text",
          "default": "Express yourself"
        },
        {
          "type": "color",
          "id": "caption_color",
          "label": "Caption text color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "label": "Heading text",
          "id": "heading",
          "default": "Loved for style"
        },{
        "type": "range",
        "id": "font-size",
        "min": 20,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Font size",
        "default": 72
      },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading text color",
          "default": "#ffffff"
        },
        {
          "type": "richtext",
          "label": "Paragraph",
          "id": "paragraph",
          "default": "<p>It's hard to be nice if you don't feel comfortable</p>"
        },
        {
          "type": "color",
          "id": "paragraph_color",
          "label": "Paragraph text color",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Button settings"
        },
        {
          "type": "text",
          "id": "button_text_1",
          "label": "First button text",
          "default": "Shop tops"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "First button link"
        },
        {
          "type": "select",
          "id": "button_type_1",
          "label": "First button type",
          "options": [
            {             
              "value": "button--black",
              "label": "Black background"
            },
            {
              "value": "button--black-bordered",
              "label": "Black bordered"
            },
            {
              "value": "button--white",
              "label": "White background"
            },
            {
              "value": "button--white-bordered",
              "label": "White bordered"
            }
          ],
          "default": "button--white-bordered"
        },
        {
          "type": "text",
          "id": "button_text_2",
          "label": "Second button text",
          "default": "Shop tops"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Second button link"
        },
        {
          "type": "select",
          "id": "button_type_2",
          "label": "Second button type",
          "options": [
            {             
              "value": "button--black",
              "label": "Black background"
            },
            {
              "value": "button--black-bordered",
              "label": "Black bordered"
            },
            {
              "value": "button--white",
              "label": "White background"
            },
            {
              "value": "button--white-bordered",
              "label": "White bordered"
            }
          ],
          "default": "button--white-bordered"
        },
        {
          "type": "header",
          "content": "Alignment settings"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "options": [
            {
              "value": "align-start justify-start",
              "label": "Top left"
            },
            {
              "value": "align-start justify-center",
              "label": "Top center"
            },
            {
              "value": "align-start justify-end",
              "label": "Top right"
            },
            {
              "value": "align-center justify-start",
              "label": "Middle left"
            },
            {
              "value": "align-center justify-center",
              "label": "Middle center"
            },
            {
              "value": "align-center justify-end",
              "label": "Middle right"
            },
            {
              "value": "align-end justify-start",
              "label": "Bottom left"
            },
            {
              "value": "align-end justify-center",
              "label": "Bottom center"
            },
            {
              "value": "align-end justify-end",
              "label": "Bottom right"
            }
          ],
          "default": "align-start justify-start"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Content position",
          "options": [
            {
              "value": "left",
                "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow"
    }
  ]
}
{% endschema %}