{{ 'section-testimonial.css' | asset_url |stylesheet_tag }}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0  }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}


{% if section.blocks.size>0 %}
<div class="testimonials container page-width section-{{ section.id }}-padding">
  {% if section.settings.heading != blank %}
    <div class="testimonials__heading center">{{ section.settings.heading }}</div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="testimonials__wrapper">
      <div class="testimonials__slider" data-flickity='{ "cellAlign": "left", "contain": true, "prevNextButtons": false ,"autoPlay":true}'>
        {% for block in section.blocks %}
          <div class="testimonials__content">
            <div class="testimonials-item center">
              {% if block.settings.testimonials_section_image != blank %}
                <div class="testimonials-item__image">
                  {% render 'image', mobileSrc: block.settings.testimonials_section_image, desktopSrc: block.settings.testimonials_section_image %}
                </div>
              {% endif %}
              {% if block.settings.review_stars != "none" %}
                <div class="testimonials-item__reviews">
                  {% for star in (1..block.settings.review_stars) %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                      <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                    </svg>
                  {% endfor %}
                </div>
              {% endif %}

              {% if block.settings.paragraph_text != blank %}
                <div class="testimonials-item__text">
                  {{ block.settings.paragraph_text }}
                </div>
              {% endif %}

              {% if block.settings.author_name != blank %}
                <div class="testimonials-item__author">
                  {{ block.settings.author_name }}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
{% endif %}

{% schema %}
  {
    "name": "Testimonials",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 40
      },
      {
        "type": "header",
        "content": "COLORS"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background",
        "default": "#FFFFFF"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Background",
        "default": "#151515"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading text",
        "default": "WHAT YOUR CLIENTS SAY"
      }
    ],
    "blocks": [
      {
        "name": "Testimonial",
        "type": "testimonial-content",
        "settings": [
          {
            "type": "header",
            "content": "IMAGE SETTINGS"
          },
          {
            "type": "image_picker",
            "id": "testimonials_section_image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "review_stars",
            "label": "Customer reviews",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "1",
                "label": "1 star"
              },
              {
                "value": "2",
                "label": "2 star"
              },
              {
                "value": "3",
                "label": "3 star"
              }, {
                "value": "4",
                "label": "4 star"
              }, {
                "value": "5",
                "label": "5 star"
              }
            ],
            "default": "none"
          },
          {
            "type": "header",
            "content": "CONTENT SETTING"
          }, {
            "type": "richtext",
            "id": "paragraph_text",
            "label": "Customer testimonial",
            "default": "<p>It's Mecca of all the sports enthusiastic. One stopt shop for all your sports need. the variety of equipments ypu need for any of your favourites sprots is there.The quantity of product is also good</p>"
          }, {
            "type": "text",
            "id": "author_name",
            "label": "Customer name",
            "default": "John smith/London"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials"
      }
    ]
  }
{% endschema %}